.home-header {
    height: 200px;
}

.home-header h1 {
    color: #fff;
    left: 50%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    transform: translate(-50%);
}

.header-image {
    background-image: url("../../media/homepage-image.png");
    filter: blur(3px);
    height: 100%;
}

body {
    background: #d9d9d9;
}

.pro-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.pro-item {
    list-style: none;
}

.pro-item p {
    font-size: 12px;
    font-weight: bold;
}

.nav-bar {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
    z-index: 999;
}

.nav-item {
    color: #fff;
    background: #484848;
    list-style: none;
    padding: 20px 5px;
    text-align: center;
    width: 100%;
}